{% load static %}

<!doctype html>
<html>
    <head>
        <title> Badminton Tips for Intermediate Players </title>
        <link rel="stylesheet"	type="text/css"	href="{% static '/css/HomeFormatting.css' %}">
    </head>
    <body>
        <div class="container">
            <img src = "{% static '/Images/Momota.jpg' %}" alt="Kento Momota Photo" style="width:100%" >
            <div class="content">
              <h1>Badminton Tips For Intermediate Players</h1>
              <p>For Players Without Coaches</p>
            </div>
        </div>
        
        <p>
            Badminton is a great sport and many people who play it consistently would love to be good at it - not just be good but be professional players as well. 
        </p>
        <p>
            However, due to the financial costs involved, they settle for something that is not quite up to what they had hoped for.
            This especially affects self-sponsored players who not only have to hustle for their daily bread but also for their badminton-specific paraphernalia.
            As a result, they make minimal progress in every aspect of their game as they do not have the luxury of putting all their mind in their game. 
        </p>
        
        <p>
            This website is therefore an attempt to serve as a virtual coach to players who may not afford to have a dedicated coach for all their training sessions and tournaments.
        </p>

        <hr>

        <p>
           <b><u><i>NOTE:</i></u></b> The content on this site can be used by beginners and advanced players as well. Beginners may, however, need to do some consultation amongst their teammates or other players. Advanced players need to have an open mind, but both categories of players need to be consistent and committed in their training.
        </p>

        <p style = "color: red">
        Also, a pdf document of the same is attached for those who may want an offline copy for download. 
        </p>
        
        <hr/>

        <h2><center><u> BASICS </u></center></h2>
        <P>
            This involves all the things you should do on court as defaults, i.e., without thinking:
        </P>
        <ol type = "1">
            <li> <u>Use a long grip</u>, especially for shots at the back of the court. A longer grip implies having a longer lever and consequently greater power generation with minimal effort. </li>
            <li> <u>Maintain a loose grip</u> over the racket until you play a shot. Having a loose grip greatly enhances the manoeuvrability of the racket especially during fast exchanges such as drives. </li>
            <li> Ensure you can <u>see the racket at the corner of your eye</u> when playing an overhead shot at the back of the court. This greatly enhances your shot consistency.</li>
            <li> The split step should be made by <u>widening the stance</u> NOT jumping upwards.
            <li> When running/bouncing back to play an overhead shot, <u>do so with your racket already drawn up</u>. This enhances your power and consistency because having the racket already drawn means that when ready to play the shot, all you do is swing forward NOT up then forward. </li>
            <li> <u>Hold the racket up after playing a downwards attacking shot</u> at the net, whether a drive, a push or a net shot. This makes killing the shot so much easier and effective since there is no delay when drawing the racket up. </li>  
            <li> For maximum power, <u>play your shots with a flat racket face</u>. </li>
            <li> For maximum control, <u>play the underhand shots from the side of the shuttle</u>, forcing you to play them from the side of your body. </li>
            <li> <u>Maintain a low centre of gravity</u> throughout a rally, i.e., when stationary and when moving. This is for balance and speed as it is easier to move from a lower position to a higher one in order to play a shot than it is to move from a higher position to a lower one. </li>
            <li> To play a quality and deceptive shot at the net, <u>contact the shuttle from below</u>, even from a low position. </li>
            <li> Keep the racket up (<u>keep the angle at the elbow at 90 degrees</u>) at all times when waiting for your opponent's shots except <u>when waiting for a smash</u>, in which case you should <u>have it at the ankles</u>. </li>
            <li> The <u>directional trajectory of the shuttle depends on the follow-through</u> you make on your stroke, especially for lifts </li>
            <li> To play <u>very steep downward shots, flick your wrist at the last moment</u> before contacting the shuttle. </li>
            <li> Ensure you <u>utilize the power of your legs when playing shots from the back of the court</u>, especially on the forehand side, by <u>sinking into the lunge at the end</u>. This is especially useful for clears and low drives. </li>
        </ol>    
        
        <hr/>

        <h2><center><u> FOOTWORK </u></center></h2>
        <P>
            This is arguably the most important aspect of the game. If cannot get to the shuttle well, you cannot play the shot well either:
        </P>
        <ol type = "1">
            <li> Adopt a <u>wide, defensive stance</u> every time you play a shot <u>to the back of your opponent’s court</u>, be it a lift or a clear. </li>
            <li> Adopt a <u>forward, attacking stance</u> every time you <u>play a shot downwards</u>, be it a net, drop or a smash. </li>
            <li> Position your <u>body parallel to the side lines</u> when playing a shot <u>at the back</u>, especially the forehand area. This is for deception and a greater range of motion. </li> 
            <li> When lunging, ensure that the <u>angle at the knee is greater than 90</u> for stability, hence injury prevention, and easier recovery. </li>
            <li> When lunging, land with your <u>heel first</u> and with a <u>straight leg</u>; because the knee will bend on its own after landing. </li>
            <li> When lunging at the <u>forehand area, tilt the foot as outwards</u> as possible for greater balance especially when low at the net. </li>
            <li> When playing at a fast pace, after a <u>high lift</u>, go back to base using the <u>running transition technique</u>.
            <li> When using chasse steps at the front of the court, <u>do not cross your legs</u> unless you are in a <u>defensive situation</u> (when the opponent takes the shuttle high). </li>
            <li> When you have <u>a lot of time</u> (after a high lift or clear by your opponent), use the <u>running technique</u> to move back to the <u>round the head</u> position. </li>
            <li> Besides the smash all other shots at the back, including the backhand shots, should be played at the <u>same time as when landing</u>. </li>
            <li> When under <u>severe pressure at the back</u> of the court, ensure your <u>foot faces outwards when lunging</u>. </li>
            <li> <u>After a lift</u>, make the split step by <u>“jumping” backwards</u> so as to make the next footwork sequence as fluid as possible. </li>
            <li> <u>After a clear</u>, make the split step by <u>“jumping” forward</u> so as to make the next footwork sequence as fluid as possible. </li>
            <li> Always <u>bounce back</u> to base after playing a <u>dropshot</u> and occasionally after a clear, except when it is a <u>high clear</u>, in which case you can <u>walk/run back</u> to base. </li>
            <li> Stick your <u>hips backwards</u> when making the <u>wide stance</u> for easier movement. </li>
            <li> Consciously <u>throw yourself backwards</u> when playing a shot at the <u>round-the-head corner</u>. </li>
            <li> During <u>neutral play</u>, use the <u>most energy-efficient transition techniques</u> and only “push” yourself when you see a chance to finish off the rally. </li>
            <li> <u>Do not drag your non-racket foot</u> (try to keep it as fixed as possible) when lunging so as to be more stable and consequently recover quicker. </li>
            <li> When approaching the net try to <u>maintain an upright torso</u> to have maximum control of your shots and hence maximum consistency. </li>
            <li> <u>Skip</u> when moving back to base from the <u>forehand net area</u> of the court, and <u>back pedal</u> when from the <u>backhand net area</u> of the court. </li>
            <li> If you are <u>forced to the baseline</u> of your back court, move back to base using the <u>running transition technique</u> because the distance to the base is quite long. </li>
            <li> Move your <u>base to the side of the court that you have hit the shuttle</u>. This not only ensures that you are able to cover the straight shots that are generally quicker, but also gives you the psychological advantage of being prepared to explode for the cross-court shots that may come your way. </li>
            <li> Make a <u>big final lunge</u> at the front of the court to play the shots from as high a position as possible. </li>
       	    <li> When playing an <u>all-out-attacking</u> rally, take the shuttle as early as possible including <u>jumping even for the dropshots.</u> </li>
        </ol> 

        <hr/>

        <h2><center><u> SHOT TECHNIQUES </u></center></h2>
        <P>
            This explains how each shot should be played from the technical point of view:
        </P>
        <b><h4> A. SERVES </h4></b>
        <ol type = "1">
            <li> When playing a low backhand serve, ensure you <u>elbow is raised</u> to force the racket into a downward facing direction. </li>
            <li> When playing a low backhand serve, <u>hold the shuttle so that it faces you</u>, and not downwards, for a cleaner, tighter serve. </li>
            <li> When playing a low backhand serve, <u>slice the shuttle</u> for a cleaner and more consistent serve. </li>
            <li> When playing a low backhand serve, put your <u>weight on the back leg</u> instead of the leg at the front, for more balance when serving and easier movement after the shuttle is returned. </li>
	    <li> When playing a short low backhand serve, have an extended contact with the shuttle <u>(have a slightly larger but slower follow-through)</u> to play it close to the short service line. </li>
        </ol>
        <hr>

        <b><h4> B. NET SHOTS </h4></b>
        <ol type = "1">
            <li> Keep the racket face at almost <u>90 degrees to the ground</u> to play a <u>long net shot</u>. </li>
            <li> Ensure your <u>elbow is higher than the racket</u> when playing a net shot on your <u>backhand side</u>. </li>
            <li> <u>Tilt your head towards your racket arm</u> (right, if right-handed) when playing a shot at your <u>forehand</u> (to have a better feel of your shoulder muscles) and <u>away from your racket arm</u> (left, if right-handed) when at your <u>backhand</u>. </li>
            <li> <u>Give height to your net shots</u>, by keeping the <u>racket face almost parallel to the ground</u>. This is to make your opponent take an extra step to return your reply by making the shuttle fall just behind the net. Use this especially after he/she plays a dropshot. </li>
            <li> Keep your racket almost <u>parallel to the side lines</u> when playing a <u>cross-court net shot from the forehand side</u> to make the shot as deep as possible. </li>
            <li> When <u>late to the net</u>, use the <u>pan handle grip</u> to flick the shuttle over the net and in, and still make it as tight as possible. </li>
            <li> When <u>early at the net</u>, play a <u>stabbing net shot</u>. It is tight, deep and quick thus minimizing the chances of your opponent getting it back. </li>
            <li> When playing <u>cross-court net shots from your backhand</u>, especially when far from the shuttle, <u>use the strings on the side of the racket</u> NOT the ones on top. </li>
            <li> When playing <u>tumbling net shots, play them from the side</u> instead of straight on. </li>
            <li> Play the net shots, whether spinning or basic, <u>from the highest position</u> because even if it is a miss hit, the chances of it going over the net are a lot higher than when playing from a lower position. </li>
            <li> </u>Land at the same time as when you play the net shot</u>, whether from a low or high position at the net, so as to have consistent, quality net shots. This is to allow for the transmission of force from your body’s momentum into the shot. It is for all techniques; stabbing, spinning and tumbling net shots. </li>
            <li> Play the <u>tumbling net shot</u> if the shuttle is coming <u>across towards you</u>. </li>
            <li> Play the <u>spinning and stabbing net shots</u> if the shuttle is coming <u>straight towards you</u>. </li>
            <li> To <u>retrieve net cords on your forehand, use a backhand grip</u>, stay close to the net and play the shot from straight in front of you. To <u>retrieve one on your backhand, use a pan handle grip</u> instead but do everything else as in the forehand one. </li>
        </ol>
        <hr/>

        <b><h4> C. LIFTS </h4></b>
        <ol type = "1">
            <li> Ensure your <u>elbow is higher than the racket</u> when playing a lift/push on your <u>backhand side</u>. </li>
            <li> <u>Tilt your head towards your racket arm</u> when playing a shot at your <u>forehand</u> and <u>away from your racket arm</u> when at your <u>backhand</u>. </li>
            <li> Play <u>tumbled lifts for maximum control</u> over their direction and speed.</li>
            <li> Use a <u>small snapping of the racket</u>, especially from a high position at the net, instead of a huge swing. This is <u>ensure that your lifts and pushes are not predictable</u> by the opponent.</li>
        </ol>
        <hr/>
	
        <b><h4> D. SMASHES </h4></b>
        <ol type = "1">
            <li> Move your <u>momentum forward instead of up the down</u>. This is by <u>getting behind the shuttle</u> before swinging for it. </li>
            <li> Do not swing your racket until you reach the highest point (<u>when you feel yourself settling in the air</u>). </li>
            <li> <u>Pull your elbow back and higher than normal</u>, and also <u>arch your back</u> in order to generate as much power with as little a swing as possible. </li>
            <li> To play very <u>steep and/or short smashes</u>, either <u>slice them</u>, or take them at their highest point. </li>
            <li> To play very <u>long smashes</u> that are near the baseline, either <u>play them with a nearly vertical racket</u>, or take them at a lower point. </li>
            <li> <u>Rotate your whole arm</u>, from shoulder to fore arm, not just the fore arm, as well as your <u>hips</u> in order to generate the most power. </li>
            <li> <u>Delay bringing your elbow forward</u> for a second as you rotate <u>to stretch out your chest</u> and consequently bring your arm forward at a much faster speed. </li>
	</ol>
        <hr/>

        <b><h4> E. DROPSHOTS </h4></b>
        <ol type = "1">
            <li> To play a <u>backhand reverse slice</u>, move your racket towards the <u>opposite shoulder</u>, and <u>flick your wrist inwards</u> (towards your body) on contact with the shuttle. </li>
            <li> When playing a basic dropshot, take the shuttle as high as possible and <u>flick your wrist downwards</u> to create as steep an angle as possible. </li>
            <li> Sliced (plain or reverse) dropshots should be played when the shuttle is at <u>a comfortable height</u> (preferably at the highest point). </li>
        </ol>
        <hr/>
		
        <b><h4> F. DRIVES </h4></b>
        <ol type = "1">
            <li> In doubles especially, <u>keep your racket up over your head</u> and instead of playing a shot by moving your elbow forward, as with other overhead shots, <u>move your elbow backwards</u>. </li>
            <li> When playing drives, <u>flick your wrist downwards</u> to ensure that the shuttle comes across as tight as possible over the net. </li>
            <li> The change between a thumb and pan handle grip, should also incorporate a <u>180 degree turn of the racket</u> as this is faster than focusing only on the fingers. </li>
            <li> To <u>neutralize an opponent’s drive</u>, swipe the racket across the shuttle. </li>
            <li> Use <u>short swings of the racket</u> when playing fast exchanges. This is to minimize the likelihood of making an error since the shorter swings are more precise. </li>
        </ol>
        <hr/>

        <b><h4> G. DEFENCE </h4></b>
        <ol type = "1">
            <li> If anticipating a smash to your forehand, <u>draw your elbow back into your body</u> and when anticipating one to your backhand, <u>stick your elbow STRAIGHT in front of your body</u> with your racket up. </li>
            <li> When playing defensive drives, do so by <u>swiping the racket OVER the shuttle</u> to make sure it is as tight as possible. </li>
            <li> When <u>defending against really steep smashes, take a step forward towards the net</u>. This is so that you can block them from around your hip or thigh level, not from below your knees (because it is harder to control your replies from such a low position). </li>
            <li> <u>Angle your body towards your opponent</u> when preparing to receive a smash. </li>
        </ol>
        <hr/>

        <b><h4> H. DECEPTION </h4></b>
        <ol type = "1">
            <li> <u>Land first</u> when playing deceptive shots from the front of the court then play the shot in quick succession. Landing first tends to make the opponent react as per the original anticipation. Playing the shot makes the opponent change direction inefficiently or lose momentum altogether.
        </ol>
        <hr/>

        <h2><center><u> TACTICS/STRATEGIES </u></center></h2>
        <P>
            This is often what separates two players/pairs of equal technical ability: 
        </P>
        <ol type = "1">
            <li> </u>Give height to your dropshots to make your opponent take an extra step</u> by making the shuttle fall just behind the net. </li>
            <li> <u>Play downwards when in dire need of scoring points</u> (do not lift or CLEAR, especially) especially at the end of a big game. </li>
            <li> Use deceptions against really fast players. </li>
            <li> When your opponent lets the shuttle fall at the back of the court <u>close in on the net</u> because he/she doesn’t have so many options from such a position. </li>
            <li> <u>Play to the back</u> to keep your opponent there </u>if you want to tire him/her</u> or <u>if his/her attack is of no threat.</u> </li>
            <li> Play slow drops of fast drives when <u>under pressure at the back</u> of the court. </li>
            <li> Play with <u>good height and length when playing against really offensive players</u>. This is to force the opponent to generate all the power he/she wants and not feed off the speed of the shuttle. Also, play to the sides of the court. </li>
            <li> Take control of the net using tight spinning net shots in order <u>to gain an attacking opportunity</u> in the form of a loose net shot back or a shot lift. </li>
            <li> Use <u>body smashes</u> (especially when the lift is low and short) as a variation especially <u>against really tall opponents.</u> </li>
            <li> <u>Smash to the same side</u> when your opponent is under <u>pressure at the back-court</u>. </li>
            <li> <u>Smash to the opposite side</u> when your opponent is </u>under pressure at the front of the court.</u> </li>
            <li> Play a <u>short, wide and low push</u> to the backhand side of your opponent to force him/her to play a backhand. </li>
            <li> Play a <u>cross-court net shot</u> when <u>under pressure at the net</u>. </li>
            <li> During <u>neutral play, target the backhand net area</u> of your opponent using sliced dropshots. </li>
            <li> When playing against a player with a <u>really strong defence, play stick/slice smashes to the lines, anticipate a straight return</u> to either kill or play a really tight net shot to force a short lift upon which you can finish off the rally. </li>
            <li> Playing <u>lots of clears considerably lengthens the rallies</u> which, if playing against a stronger or better opponent, will eventually work against you. </li>
            <li> <u>Hold the shuttle</u> (taking it at a lower height than the highest possible height, but not too low, than the optimum) as much as possible, especially at the front of the net, to keep your opponent guessing. </li>
            <li> When <u>under pressure at the back in the forehand</u>, play either a <u>straight drive or a cross court sliced drop</u> as your best options. </li>
            <li> <u>When playing cross-court net shots, ensure you fool your opponent first</u> because if you do not and he/she gets to it at a comfortable height, you are in big trouble, because your opponent has the option of play a very tight spinning net shot back. </li>
            <li> When playing against an opponent with a really strong net play, <u>block the shots farther from the net</u> to make it harder for him/her to make very precise net shots. </li>
            <li> When playing against a player with really good running skills, <u>use multiple consecutive punch clears</u> to his/her backline to force the shuttle behind him/her and gain good attacking opportunities in the process as well as tire him/her out. </li>
            <li> When <u>on the receiving end of some good punch clears to your own backline, play cross on your clears</u> towards the opposite end of the weak point. This is to allow you more time to intercept your opponent’s attack in the event that the same corner is hammered at again. </li>
            <li> When playing safe and not seeing the results, <u>try using everything in your tool box</u> (all the skills you have) even those of which you are a bit apprehensive about. </li>
            <li> It is a </u>bad idea to push or punch clear the shuttle cross-court into your opponent’s forehand when he/she is in perfect balance</u>, especially if he/she is really tall, because a very powerful smash is probably what you will be greeted with in the event that he/she intercepts the shuttle. </li> 
            <li> Play <u>long smashes after a weak lift</u> from your opponent and <u>steep/short smashes after a weak clear</u> from your opponent. This is because getting to the back of the court from the lifting position is just as hard as getting to the front of the court from the back when out of balance. </li>
            <li> Raise the pace of the game when playing against a <u>player that rarely makes mistakes</u> or that is only slightly better than you. </li>
            <li> When playing against a tactically better opponent, beware of his/her cross-court clears because he/she wants you to clear back straight so that he can play what he/she is more comfortable with. It is therefore imperative that, if you have to <u>clear back, do it cross again to where he/she has done it from</u>. </li>
            <li> When playing against <u>really fast players</u>, it is imperative to <u>force your opponent to move cross-court over and over again</u> to take the sting out of their movement and consequently out of their attack. </li>
            <li> Sometimes, when your opponent plays a good pressure shot, accept it and play a good defensive shot<u>, whether a long lift, clear or net shot</u>, to give yourself time in your defence so that you can come back in the rally. </li>
            <li> When playing against a player with very good attacking clears or lifts, <u>play downwards shots to neutralize the clears and lifts</u>. </li>
            <li> When playing against a player with a solid defence, you must <u>follow up your attacks over and over</u> in order to penetrate his/her defence. </li>
            <li> When playing against a player with really good retrieval skills and movement, you must <u>pressure his/her backline over and over,</u> even three to five consecutive attacking clears or lifts, in order to shake him/her up. </li>
            <li> Play </u>attacking clears, especially to the backhand side of your opponent, as a variation</u> of all other downwards attacking shots you play. </li>
            <li> Play towards the <u>centre of the court</u> when playing against a really fast player <u>to cut down the angles available to your opponent</u> so that you can have opportunities to intercept the shuttle. </li>
            <li> <u>Smash straight</u>, down the line, when the opponent’s <u>lift/clear is of good length</u> and <u>smash cross</u> when the <u>lift/clear is short.</u> </li>
            <li> Play </u>flatter shots</u> when in drifty conditions. </li>
            <li> When playing against a really good attacking player, <u>lift high or push low</u> into the rear-court corners. Avoid playing any low lifts or high pushes. </li>
            <li> When playing against a really good attacking player, who seems to is always in balance, <u>play towards the centre</u> of the court to, while denying attacking opportunities, <u>force him/her to overplay his/her shots and make errors</u>. Also use long net shots, fast drives and long dropshots to keep him/her away from the net – where he/she might win the attack. </li>
            <li> When an opportunity for a second consecutive smash presents itself, <u>hit it to the same side as the first</u> because, <u>if it comes back, you only have to move a short distance</u> to play the next short whereas if you have played cross, the distance to the next short becomes a lot bigger. </li>
            <li> Smash towards the <u>centre of the court when your opponent seems to be getting everything</u>, that is, towards the lines, back. </li>
            <li> Playing cross-court net shots takes the speed out the shuttle as it travels a longer distance. <u>When in need of taking the initiative in a rally, play straight net shots</u> instead. </li>
            <li> One way of <u>neutralizing your opponent’s good attacking shots is to ensure that he/she covers the long diagonal</u>, that is, if the shot coming is straight, return it cross, and vice versa. </li>
	        <li> <u>Slow down the pace of the game using high lifts and clears when your opponent seems to be coping well with the fast game that you are maybe playing</u>, by intercepting all the flat pushes lifts and drives you are playing with the intention of adding on pressure to him/her. </li> 
            <li> <u>Play cross towards the opponent’s backcourt</u> when looking to play a defensive game with the aim of tiring out your opponent. </li>
            <li> <u>Play fast drops and slices during neutral play</u> and <u>slow drops only if you</u> have managed to <u>deceive your opponent.</u> </li>
            <li> <u>Pressure the same corner</u>, especially at the back, if you want your opponent to overplay his/her shots out of frustration and/or fatigue. </li>
            <li> <u>Play steep smashes and slice as an attacking variation</u> in the event that your opponent seems to be returning all your full power smashes. <u>His/her base position is probably very far back in court</u>> with a lot of space between him/her and the net. </li>
            <li> <u>Play your shots to the same side of your opponent if you want to make him/her start, stop then start again</u> in his/her movement. This is especially if he/she is playing cross-court shots. </li>
            <li> If your <u>opponent seems to be getting to your short (net) service returns at a high position</u> consistently, <u>push them to the back</u> of the court instead. </li>
            <li> <u>Play your service returns across from you</u> most of the time, whether a net or lift. </li>
            <li> <u>Move your opponent cross, from side to side,</u> to capitalise on his/her lack of reach. </li>
	</ol>

        <h2><center><u> MENTAL TIPS </u></center></h2>
        <P>
            This is often what separates two players/pairs, even of different skill levels, in high-stakes matches. It is also often what derails a player' progress in training: 
        </P>
        <ol type = "1">
            <li> Always <u>play with greater margins</u> (farther from the lines and less tight shots at the net) when under a lot of mental pressure. </li>
            <li> When <u>going through a bad run of points, play towards the centre</u> to make the court smaller (by reducing the angles of attack available to your opponent) but NOTE, playing a high lift towards the centre is a bad idea because the options open to your opponent are too many to cover.</li>
            <li> <u>Only play what is necessary</u> to keep the rally going (do not overthink) especially against <u>opponents of your same level.</u> </li>
            <li> <u>Use body smashes</u> to heap a lot of mental pressure on your opponent especially <u>when a game is nearly finished</u> and the scores are really tight. This works best when all the other smashes before aimed elsewhere. </li>
            <li> Have an extremely low posture in your defence in order to dive more confidently. </>The ground is a lot closer to your eyes</u> and thus the <u>fear of injuring yourself as a result of diving is greatly reduced.</u> </li>
            <li> Focus on three things when on court, the <u>sound of the shuttle</u> as it contacts the opponent’s racket, <u>your movement back to base</u> after playing a shot, and <u>the position and angle of your racket face</u> before swinging towards the shuttle. This way you play without any outside concerns until the shuttle falls. </li>
            <li> <u>In between rallies, focus on your breathing</u>, but do not try to control it. Breathing patterns are unpredictable and random just as shuttle trajectory, speed etc. As such, focus on your own breathing because it does not get boring. This way you play without any outside concerns until the next rally begins. </li>
            <li> When you are trying to put pressure on your opponent but are losing points at an alarming rate, <u>chances are that you are trying to go for winners too early/quickly in the rally.</u> Being patient, but not passive, will probably do the trick. </li>
            <li> When serving, <u>do not swing your racket until you have made visual contact with the base of the shuttle.</u> Consciously looking at the shuttle sends a message to the autonomous part of the brain to take over the serving action. </li>
	    <li> Playing a <u>high-risk game</u> may result in a few unforced errors but it is sure to <u>produce good rewards</u>. </li>
        </ol>

        <hr>
        
        <p>
            To get an offline document containing the material above, use the link below:
        </p>
        <a href="{% static '/Download_Content/Badminton Tips.pdf' %}" download> 
            <img src="{% static '/Images/pdf_Icon.png' %}" alt="Badminton_Tips.pdf" width="75" height="100">
        </a>
            
        <hr>

        <P>
            Now watch the following matches one between Lin Dan and Taufik Hidayat and the other between Kento Momota (fatigued) vs Kanta Tsuneyama (Kento Momota's teammate). See if you can spot any of the above points.
        </P>
        
        <p>
            <b><u><i>NOTE:</i></u></b> Beginner players shot focus mainly on the basics and footwork. Intermediate players should focus mainly on the shot techniques as well as tactics, however, at an abstract level. Advanced players should focus mainly on tactics (in depth) and the mental tips (this may however be hard to spot as the rallies are cut almost as soon as they are done) :
        </p>

        <p>
            <b><u><i> Lin Dan vs Taufik Hidayat</i></u></b>
        </p>
        <video width="100%" height="auto" controls muted>
        <source src="{% static '/Videos/Very Fast Footwork - Lin Dan vs Taufik Hidayat - Shuttle Amazing.mp4' %}" type="video/mp4">
        </video>
        
        <p>
            <b><u><i> Kento Momota vs Kanta Tsuneyama </i></u></b>
        </p>
        <video width="100%" height="auto" controls muted>
        <source src="{% static '/Videos/Kento Momota vs Kanta Tsuneyama - French Open 2021.mp4' %}" type="video/mp4">
        </video>
        
        <p> Article by: The Thika Badminton Club <br> Contact us on:<br> Mobile: 0782645342 or 0743879003 <br> Email: karongodaniel022@gmail.com </p>

    </body>
</html>
